<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>
        <div class="container">
            <h1>Home Page</h1>
            <ul class="collection with-header">
                <% if(items.length > 0){ 
                    items.forEach(item =>{ %>
                        <li class="collection-item"><div><a href="/items/<%= item._id %>"><%= item.name %>      $<%= item.price %></a><a href="#!" class="secondary-content"><i class="material-icons">delete</i></a><a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></div></li>

                    <%  });  %>
                <% }else{ %>
                <li class="collection-item"><div>Nothing TO Display<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <% } %>

                </ul>
        </div>
               

        <script src="" async defer></script>
    </body>
</html>